[Unit]
Description=rtk-base-station str2str-rtcm30
Wants=network-online.target
After=network-online.target
Conflicts=shutdown.target
Before=shutdown.target

[Service]
Restart=always
RestartSec=1s
ExecStart=bash -c '/usr/local/bin/str2str \
-in tcpcli://127.0.0.1:2102#ubx \
-out "ntrips://:<password>@127.0.0.1:2101/rtcm30#rtcm3" \
-p <lat> <lon> <hgt> \
-msg "1005(10),1008(10),1004(1),1012(1)" \
-opt -TADJ=1'

[Install]
WantedBy=default.target
